.App {
    text-align: center;
  }

.card {
  height: 200;
  background-color: #282c34;
  color: white;
  }
.btn {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5rem;
    cursor: pointer;
    transition: all 0.3s;
  }
.btn:hover {
    background-color: orange;
  }
  
  input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
  }